@{
    ViewData["Title"] = "Thank you!!";
}

@section Css {
    <link href="~/css/contact-thankspage.css" rel="stylesheet" />
}

<div class=thankyoucontent>
    <div class="wrapper-1">
        <div class="wrapper-2">
            <img src="https://i.ibb.co/Lkn7rkG/thank-you-envelope.png" alt="thank-you-envelope" border="0">
            <h1>Thank you!</h1>
            <p>for contacting us, we will reply promptly</p>
            <p>once your message is received. </p>
            <button onclick="gohome()" class="go-home">
                <a style="color:white">
                    home page
                </a>
            </button>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function gohome() {
            window.location.href = "/home/index";
        }
    </script>
}