@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Quản lý khuyến mãi";
    string error = TempData["error"] as string;
    var pageNumber = (int)ViewBag.pageNumber;
}

<h2 class="py-5">Cập nhật khuyến mãi</h2>
@if (!string.IsNullOrEmpty(error))
{
    <p class="text-danger">@error</p>
}
<div class="row">
    @if (Model.Id == 0) 
    {
        <div class="col-md-8">
            <form action="/admin/discount/AddOrUpdate?pageNumber=@pageNumber" method="post">
                <div class="form-group row">
                    <label for="productname" class="col-sm-2 col-form-label">Mã sản phẩm:</label>
                    <div class="col-sm-10">
                        <input type="text" name="productid" class="form-control" id="productname">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="productpc" class="col-sm-2 col-form-label">Phần trăm giảm:</label>
                    <div class="col-sm-10">
                        <input type="text" name="discountpercent" class="form-control" id="productpc">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="productst" class="col-sm-2 col-form-label">Ngày bắt đầu:</label>
                    <div class="col-sm-10">
                        <input type="datetime-local" name="createdate" class="form-control" id="productst">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="productend" class="col-sm-2 col-form-label">Ngày kết thúc:</label>
                    <div class="col-sm-10">
                        <input type="datetime-local" name="outofdate" class="form-control" id="productend">
                    </div>
                </div>
                <div class="form-group row" style="display:flex">
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary">Xác nhận</button>
                    </div>
                    <div class="col-sm-12 pt-3">
                        <a class="btn btn-primary" href="/admin/discount/index?pageNumber=@pageNumber">Quay lại</a>
                    </div>
                </div>
            </form>
        </div>
    }
    else {
        <div class="col-md-8">
            <form action="/admin/discount/AddOrUpdate?pageNumber=@pageNumber" method="post">
                <div class="form-group row">
                <label for="kmid" class="col-sm-2 col-form-label">Mã khuyến mãi:</label>
                    <div class="col-sm-10">
                        <input type="text" name="id" class="form-control" id="kmid" value="@Model.Id" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="productname" class="col-sm-2 col-form-label">Mã sản phẩm:</label>
                    <div class="col-sm-10">
                        <input type="text" name="productid" class="form-control" id="productname" value="@Model.ProductId" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="productpc" class="col-sm-2 col-form-label">Phần trăm giảm:</label>
                    <div class="col-sm-10">
                        <input type="text" name="discountpercent" class="form-control" id="productpc" value="@Model.DiscountPercent">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="productst" class="col-sm-2 col-form-label">Ngày bắt đầu:</label>
                    <div class="col-sm-10">
                        <input type="datetime-local" name="createdate" class="form-control" id="productst">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="productend" class="col-sm-2 col-form-label">Ngày kết thúc:</label>
                    <div class="col-sm-10">
                        <input type="datetime-local" name="outofdate" class="form-control" id="productend">
                    </div>
                </div>
                <div class="form-group row" style="display:flex">
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary">Xác nhận</button>
                    </div>
                    <div class="col-sm-12 pt-3">
                        <a class="btn btn-primary" href="/admin/discount/index?pageNumber=@pageNumber">Quay lại</a>
                    </div>
                </div>
            </form>
        </div>
    }
</div>

@section Scripts {
    <script>
    </script>
}